    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>大家好</h2>
              <br/>
              <div class="lead">
                <p>天天記帳是一款貼心的記帳APP</p>
                <p>介面簡約大方, 分類清晰, 操作簡單, 功能齊全</p>
                <br>
                <p>天天記帳讓記帳 成為習慣！</p>
                <p>希望大家會喜歡這款記帳APP</p>
              </div>
              <br/>
              </div>
        </div>
    </section>
