<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#home">{{ site.title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">  
            	<li>
                    <a class="page-scroll" href="#about">大家好</a>
                </li>            
                <li>
                    <a class="page-scroll" href="#services">功能介紹</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">聯絡我們</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section id="home">
<!-- Header -->
	<div class="intro-header">

		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
                        
						<h2><img width="70" height="70" alt="毎日家計簿 無料 簡単 実用 人気" src="../img/app-icon.png">&nbsp;&nbsp;{{ page.title }}</h2>
						<h3>
                            {{ page.subTitle }}
                            
                        </h3>

                        <hr class="intro-divider">
                        <a href="https://itunes.apple.com/app/id954944283">
                            <img alt="Apple Store下載"width="180" src="../img/appstore-apple-on.svg">
                        </a>
                        <br>
                        <br>
                        <a href="https://play.google.com/store/apps/details?id=com.swalloworkstudio.rakurakukakeibo&utm_source=ttjztw">
                        <img alt="Google Play下載" width="180" src="../img/appstore-android-on.svg">
                        </a>
                        <br>
                        <br>
                        <img alt="下載" width="132" src="../img/qr.svg">
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
