<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="天天記帳是一款貼心的記帳APP。介面簡約大方, 分類清晰, 操作簡單, 功能齊全。支援外幣, 預算, 多帳本。天天記帳讓記帳成為習慣！">
    <meta name="author" content="{{ site.author }}">
    <meta name="keywords" content="記帳,記賬,記帳本,記賬本,帳本,免費,簡單,人氣,消費,支出,收支,帳單,實用,方便,帳簿,記帳簿,理財,管錢,幣別,發票,收據,管理,節約,主婦,free,可愛,spend,家計簿,貼心,外幣">
    <link rel="shortcut icon" href="fabicon/apple-icon-114x114.png">
    
    <link rel="apple-touch-icon" sizes="57x57" href="fabicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="fabicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="fabicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="fabicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="fabicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="fabicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="fabicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="fabicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="fabicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="fabicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="fabicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="fabicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="fabicon/favicon-16x16.png">
    <link rel="manifest" href="fabicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="fabicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="google-site-verification" content="8_RKoCRg3njT6VkR51vYFeU20vSowKEAXBIAthl9NU8" />

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css?t=20201109" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>